
@font-face {
  font-family: 'AquateScriptPERSONALUSEONLY';
  src: url('AquateScriptPERSONALUSEONLY.eot?#iefix') format('embedded-opentype'),  url('AquateScriptPERSONALUSEONLY.woff') format('woff'), url('AquateScriptPERSONALUSEONLY.ttf')  format('truetype'), url('AquateScriptPERSONALUSEONLY.svg#AquateScriptPERSONALUSEONLY') format('svg');
  font-weight: normal;
  font-style: normal;
}
