
@font-face {
  font-family: 'ComicSansMS';
  src: url('ComicSansMS.eot?#iefix') format('embedded-opentype'),  url('ComicSansMS.woff') format('woff'), url('ComicSansMS.ttf')  format('truetype'), url('ComicSansMS.svg#ComicSansMS') format('svg');
  font-weight: normal;
  font-style: normal;
}
