
@font-face {
  font-family: 'Norse-Bold';
  src: url('Norse-Bold.eot?#iefix') format('embedded-opentype'),  url('Norse-Bold.otf')  format('opentype'),
	     url('Norse-Bold.woff') format('woff'), url('Norse-Bold.ttf')  format('truetype'), url('Norse-Bold.svg#Norse-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
